/** Pallets agregados ***/
.tradded td{
	background-color: #CEFFD1 !important;
}


.tablesinborders tr td {
	margin: 0px;
	padding: 0px;
	border: none;
}
#actividades_tra .tdCodArea {
	position: relative;
	border-right: 1px #999 solid;
}
#actividades_tra .tdCodArea .showCodigoArea{
	position: absolute;
	top: 16px;
	right: 2px;
}
#actividades_tra .tdCodArea .addNewCosto,
#actividades_tra .tdCodArea .removeCosto{
	position: absolute;
	top: -5px;
	right: 4px;
}

#actividades_tra .tablesinborders .tdLabHoras {
	position: relative;
}
#actividades_tra .tablesinborders .tdLabHoras .addNewlabor,
#actividades_tra .tablesinborders .tdLabHoras .removelabor {
	position: absolute;
	top: 10px;
	right: 4px;
}

#actividades_tra .tdCodAreaHrs {
	position: relative;
	border-right: 1px #999 solid;
}
#actividades_tra .tdCodAreaHrs .showCodigoArea{
	position: absolute;
	top: 16px;
	right: 2px;
}
#actividades_tra .tdCodAreaHrs .addNewHrsx,
#actividades_tra .tdCodAreaHrs .removeHrsx{
	position: absolute;
	top: -5px;
	right: 4px;
}

.stickcontent {
  background: #fff;
}
.fixed {position:fixed; top:0; right:0; z-index: 1001; }
